@font-face {
    font-family: 'Overpass';
    src: url("/assets/fonts/Overpass-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'Overpass-Black';
    src: url("/assets/fonts/Overpass-Black.ttf") format("truetype");
}
@font-face {
    font-family: 'Overpass-Bold';
    src: url("/assets/fonts/Overpass-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Overpass-ExtraBold';
    src: url("/assets/fonts/Overpass-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: 'Overpass-Light';
    src: url("/assets/fonts/Overpass-Light.ttf") format("truetype");
}