<div class="col-12 footer-bar">
    <div class="col-12 footer-3">
        
    </div>
    <div class="col-12 footer-2 p-5">
        <div class="row mt-5 ml-auto mr-auto">
            <div class="col-lg-6 col-xl-6">
                <div class="container footer-form p-4">
                    <div class="col-12">
                        <p class="footer-form-title">¿Necesita más información?</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 col-xl-6">
                            <input type="text" class="form-control footer-input p-3 m-form" placeholder="Nombre">
                        </div>
                        <div class="col-12 col-lg-6 col-xl-6">
                            <input type="text" class="form-control footer-input p-3 m-form" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12 mt-3">
                        <input type="text" class="form-control footer-input p-3" placeholder="Email">
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12 mt-3">
                        <textarea type="text" class="form-control footer-input p-3 pb-5" row="5" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1 col-lg-1 col-xl-1">
                            <input class="form-check-input " type="checkbox">
                        </div>
                        <div class="col-11 col-lg-11 col-xl-11">
                            <p class="footer-terms">Al presionar el botón “ENVIAR” confirmas que has leído, entendido y aceptado las condiciones de nuestra Política de Privacidad mostradas en este LINK</p>
                        </div>
                    </div>
                    <button type="button" class="btn footer-form-btn mt-0 p-3">Enviar</button>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <p class="footer-title-2 mt-4"><strong class="footer-title-1">IVERCASA</strong> Inmobiliaria </p>
                <p class="footer-contact">ic@ivercasa.com https://www.ivercasa.com</p>
                <p class="footer-contact">958 123 123 - Acera del Darro 10, 2ª planta Granada 18005 (Granada)</p>
                <div class="row col-google">
                    <div class="col-2">
                        <img src="assets/images/google.png" class="footer-google-img" alt="">
                    </div>
                    <div class="col-10 p-0">
                        <p class="footer-google">Ver en Google Maps</p>
                    </div>
                </div>
                <img src="assets/images/Grupo 226.svg" class="footer-logo mt-5" alt="">
                <div class="row mt-4">
                    <div class="col-2 col-lg-1 col-xl-1">
                        <img src="assets/images/Grupo 227.svg" class="footer-social" alt="">
                    </div>
                    <div class="col-2 col-lg-1 col-xl-1">
                        <img src="assets/images/Grupo 225.svg" class="footer-social" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 footer-1">
        <div class="footer-divider mb-4"></div>
        <div class="row text-center">
            <div class="col-0 col-lg-3 col-xl-3"></div>
            <div class="col-0 col-lg-6 col-xl-6 text-center">
                <div class="row">
                    <div class="col-6 text-right">
                        <p class="footer-txt" style="text-align: right;">Términos y condiciones </p>
                    </div>
                    <div class="col-6">
                        <p class="footer-txt" style="text-align: left;"> Política de privacidad </p>
                    </div>
                </div>
                <p class="footer-txt">©2020 IVERCASA </p>
                <p class="footer-txt">Todos los derechos reservados </p>
            </div>
            <div class="col-0 col-lg-3 col-xl-3"></div>
            
        </div>
    </div>
</div>