.body{
    height: 100%;
    // margin-top: 69px!important;
    overflow-x: hidden!important;
}
.search{
    height:654px;
    background-color: lightgrey;
}
.search-title{
    margin-bottom:0px;
    text-align: center;
    vertical-align:middle;
    font: normal normal normal 30px/40px Overpass;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.search-title-b{
    margin-bottom:0px;
    text-align: center;
    vertical-align:middle;
    font: normal normal normal 30px/40px Overpass-bold;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.search-box-1{
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.32;
    @media (min-width: 700px) {
        margin-top: 130px!important;
    } 
    @media (max-width: 699px) {
        margin-top: 70px!important;
    } 
}
.search-box-2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 0.95;
    padding: 0px 30px 30px 30px!important;
}
.search-input{
    color: #000000;
    background: #E7E7E7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    @media (max-width: 699px) {
        margin-top: 12px!important;
    } 
}
.search-btn{
    width: 100%;
    background: #232323 0% 0% no-repeat padding-box;
    color:white;
    font-family: 'Overpass-bold'!important;
    opacity: 1;
    border-radius: 10px;
    @media (max-width: 699px) {
        margin-top: 12px!important;
    } 
}
.search-btn-v{
    width: 136px;
    background: #232323 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}
.search-btn-a{
    width: 136px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}
.search-txt-v{
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    font: normal normal 600 18px/24px Overpass;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.search-txt-a{
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    font: normal normal 600 18px/24px Overpass;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.search-div-preguntas{
    width: 254px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    @media (min-width: 700px) {
        margin-top: 80px!important;
    } 
    @media (max-width: 699px) {
        margin-top: -10px!important;
    } 
}
.search-preguntas{
    @media (min-width: 700px) {
        text-align: left;
        margin-bottom: 0px;
        margin-top:6px;
        vertical-align:bottom;
        font: normal normal normal 18px/24px Overpass;
        letter-spacing: 0px;
        color: black;
        opacity: 1;
    }
    @media (max-width: 699px) {
        text-align: left;
        margin-bottom: 0px;
        margin-top:6px;
        font: normal normal normal 14px/19px Overpass;
        letter-spacing: 0px;
        color: #232323;
        opacity: 1;
        
    } 
}
.p-preguntas{
    @media (min-width: 700px) {
        padding: 10px 25px 10px 15px;
    }
    @media (max-width: 699px) {
        padding: 5px 15px 2px 15px!important;
    } 
}
.i-help{
    width: 29px;
    height: 29px;
}
.products{
    background-color: white;
}
.propiedades{
    margin-top: 50px;
    height:200px;
    background-image: url('/assets/images/Grupo 72.svg');
    @media (min-width: 700px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    @media (max-width: 699px) {
        padding-left: 10px;
        padding-right: 10px;
    } 
}
.propiedades-text{
    font-family: 'Overpass-Bold';
    font-size: 30px;
}
.propiedades-text-b{
    font-family: 'Overpass-Black';
    font-size: 30px;
}
.propiedades-btn{
    padding-left: 35px!important;
    padding-right: 35px!important;
    background: #232323 0% 0% no-repeat padding-box;
    color:white;
    font-family: 'Overpass-bold'!important;
    opacity: 1;
    border-radius: 10px;
}
.catalog{
    margin-top:30px!important;
}
.product-div-top{
    padding: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    opacity: 1;
}
.product-div-bot{
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}
.product-image{
    width: 100%;
}
.product-soles{
    margin-bottom: 0px;
    text-align: left;
    font: normal normal normal 22px/32px Overpass;
    letter-spacing: 0px;
    color: #232323;
    opacity: 1;
}
.product-dolar{
    margin-bottom: 0px;
    text-align: left;
    font: normal normal normal 22px/30px Overpass;
    letter-spacing: 0px;
    color: #232323;
    opacity: 1;
}
.product-direction{
    margin-bottom: 0px;
    text-align: left;
    font: normal normal bold 22px/30px Overpass-Bold;
    letter-spacing: 0px;
    color: #C6C6C6;
    opacity: 1;
}
.product-calle{
    margin-bottom: 0px;
    text-align: left;
    font: normal normal 600 22px/30px Overpass;
    letter-spacing: 0px;
    color: #232323;
    opacity: 1;
}
.product-description{
    margin-bottom: 0px;
    text-align: left;
    font: normal normal normal 16px/21px Overpass;
    letter-spacing: 0px;
    color: #232323;
    opacity: 1;
}
.product-item{
    text-align: left;
    font: normal normal normal 12px/16px Overpass;
    letter-spacing: 0px;
    color: #9E9E9E;
    opacity: 1;
}
.product-icon{
    color: #9E9E9E;
}
.product-btn{
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    border-radius:10px;
    padding-left: 20px;
    padding-right: 20px;
    font: normal normal 600 16px/21px Overpass;
    letter-spacing: 0px;
    background-color: #000000;
    opacity: 1;
}
.product-btn-h{
    text-align: left;
    vertical-align: middle;
    border-radius:10px;
    border-color: #9E9E9E;
    padding-left: 20px;
    padding-right: 20px;
    font: normal normal 600 16px/21px Overpass;
    letter-spacing: 0px;
    background-color: #FFFFFF;
    opacity: 1;
}